@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500');

.showcase-logo {
    font-family: 'Pacifico', cursive;
    font-size: large;
}

#react-root {
    height: 100%;
}